@model tuanntgcs18661ApplicationDev.Models.CUser

@{
    ViewData["Title"] = "Details";
}
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<h1> Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>